.Card_Container {
    width: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    
}

.Card_Container img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    margin-bottom: 1rem;
    width: 250px;
    /* height: 500px; */
    aspect-ratio: 1.5/1.8;
}